## 
## HEAT_SOAK HEATER=<heater_name> TARGET=<target_heater_temperature> SOAKER=<heat_soak_temp_sensor_name> [RATE=<heat_soak_temp_rate_of_change>] [TIMEOUT=<time_to_abort_heat_soak>]
## HEAT_SOAK HEATER=chamber_heater TARGET=100 SOAKER=chamber SOAK_TEMP=40
##

[gcode_macro HEAT_SOAK]
description: Heat Soak Printer
variable_stage: "done"
variable_total_time_elapsed: 0
variable_soak_time: 0 # minutes
variable_soak_time_elapsed: 0
variable_check_interval: 60
variable_timeout: 2400
variable_heater_sensor: "extruder"
variable_soaker_sensor: "chamber"
variable_target_temp: 0.0
variable_min_soak_temp: 0
variable_was_print_active: False

gcode:
    {% set SOAKER = params.SOAKER | default("chamber") | string %}
    {% set SOAK_TEMP = params.SOAK_TEMP | default(0.0) | float %}
    {% set HEATER = params.HEATER | default("extruder") | string %}
    {% set TARGET = params.TARGET | default(0.0) | float %}
    {% set SOAK_TIME_SEC = (params.SOAK_TIME | default(5) | int) * 60 %}

    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=heater_sensor VALUE='"{HEATER}"'
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_temp VALUE={TARGET}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=min_soak_temp VALUE={SOAK_TEMP}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time VALUE={SOAK_TIME_SEC}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE=0
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_elapsed VALUE=0


    # 1. SENSOR LOOKUP (Fixed Logic)
    {% set ns = namespace(name=SOAKER) %}
    
    # If the user didn't provide the full prefix, add it
    {% if 'temperature_sensor' not in SOAKER and 'heater_bed' not in SOAKER %}
      {% set ns.name = 'temperature_sensor ' ~ SOAKER %}
    {% endif %}

    # Check if the sensor actually exists in the printer object
    {% if ns.name not in printer %}
      {action_respond_info("ERROR: Sensor %s not found!" % ns.name)}
    {% else %}
      SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soaker_sensor VALUE='"{ns.name}"'
      {% set is_print_active = printer['virtual_sdcard'].is_active or printer['virtual_sdcard'].file_position != 0.0 %}
      SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=was_print_active VALUE={is_print_active}

      {% if is_print_active %} 
        CG28 # Home if not already homed
        G90 # Absolute positioning
        PAUSE X=200 Y=180 Z=4 
        # G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} Z4 F3000
        SET_FAN_SPEED FAN=Part_Fan SPEED=1 
      {% endif %}

      {% if TARGET > 0 %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"heating"'
        SET_HEATER_TEMPERATURE HEATER={HEATER} TARGET={TARGET}
        SET_FAN_SPEED FAN=filter SPEED=1
      {% else %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"soaking"'
        SET_FAN_SPEED FAN=filter SPEED=0.5
      {% endif %}

      UPDATE_DELAYED_GCODE ID=_hs_clean_shutdown DURATION=1
    {% endif %}

[delayed_gcode _hs_clean_shutdown]
# description: Clean heat_soak shutdown if user has cancelled print, started new print or resumed current print. 
gcode:  
    {% set hs = printer['gcode_macro HEAT_SOAK'] %}
    {% set file_position_is_zero = (printer['virtual_sdcard'].file_position == 0.0 )%}
    {% set hs_user_cnxstart = hs.was_print_active and file_position_is_zero %}
    {% set hs_user_resume = not file_position_is_zero and not printer['pause_resume'].is_paused %}
    
    {% if hs_user_cnxstart or hs_user_resume %} 
      SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"done"'
      STOP_HEAT_SOAK
      {action_respond_info("HEAT_SOAK aborted.  Detected that user resumed/started/canceled a print while heat soaking.")}   
    {% else %}
      UPDATE_DELAYED_GCODE ID=_heat_soaker DURATION=1
    {% endif %}

[delayed_gcode _heat_soaker]
gcode:
    # debug
    #{action_respond_info("_heat_soaker called.")}  
    {% set hs = printer['gcode_macro HEAT_SOAK'] %}
    {% set total_time = hs.total_time_elapsed + hs.check_interval %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={total_time}
    {% set cur_temp = printer[hs.soaker_sensor].temperature | float %}
    {% set stage = hs.stage %}


    # 1. STAGE MANAGEMENT
    {% if total_time <= hs.timeout %}
      
      {% if stage == "heating" %}
        {% if cur_temp >= hs.min_soak_temp %}
          {action_respond_info("Heating targets met. Switching to SOAKING.")}
          {% set stage = "soaking" %}
          SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"soaking"'
        {% else %}
          {action_respond_info("Heating... %.1f / %.1f" % (cur_temp, hs.min_soak_temp))}
          {% endif %}
        {% endif %}

      {% if stage == "soaking" %}
        {% if hs.soak_time_elapsed < hs.soak_time %}
          {% set rem = (hs.soak_time - hs.soak_time_elapsed) | int %}
          {action_respond_info("Soaking... %dm %02ds remaining" % (rem // 60, rem % 60))}
          {% if cur_temp <= (hs.min_soak_temp - 1) %}
            SET_HEATER_TEMPERATURE HEATER={hs.heater_sensor} TARGET={hs.target_temp}
            SET_FAN_SPEED FAN=filter SPEED=1
          {% else %}
            SET_HEATER_TEMPERATURE HEATER={hs.heater_sensor} TARGET=0
            SET_FAN_SPEED FAN=filter SPEED=0.5
          {% endif %}
        {% else %}
          {% set stage = "done" %}
          SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"done"'
        {% endif %}
        {% set soak_time_elapsed = hs.soak_time_elapsed + hs.check_interval %}
        SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_elapsed VALUE={soak_time_elapsed}
      {% endif %}

      {% if stage == "done" %}
        {action_respond_info("Heat soak complete at %.1fC" % cur_temp)}
        STOP_HEAT_SOAK
      {% else %}
        UPDATE_DELAYED_GCODE ID=_hs_clean_shutdown DURATION={hs.check_interval}
      {% endif %}

    {% else %}
      {action_respond_info("ERROR: Heat soak timeout!")}
      {% if hs.was_print_active %} 
        STOP_HEAT_SOAK
        TURN_OFF_HEATERS
        M107 ; turn off fan
        CLEAR_PAUSE
        BASE_CANCEL_PRINT
      {% endif %}
      STOP_HEAT_SOAK
    {% endif %}
    # dwell for 1ms to prevent from going idle
    G4 P1

[gcode_macro STOP_HEAT_SOAK]
gcode:
    {% set hs = printer['gcode_macro HEAT_SOAK'] %}
    UPDATE_DELAYED_GCODE ID=_heat_soaker DURATION=0
    UPDATE_DELAYED_GCODE ID=_hs_clean_shutdown DURATION=0
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE='"done"'

    {% if hs.heater_sensor != "None" %}
        SET_HEATER_TEMPERATURE HEATER={hs.heater_sensor} TARGET=0
        UPDATE_DELAYED_GCODE ID=_aux_fan_shutdown DURATION=1
    {% endif %}
    
    {% if hs.was_print_active and printer['pause_resume'].is_paused %}
      {action_respond_info("Heat soak complete. Resuming print...")}
      RESUME 
    {% elif hs.was_print_active %}
      {action_respond_info("Heat soak stopped. Print already resumed or cancelled.")}
    {% endif %}

[delayed_gcode _aux_fan_shutdown]
gcode:
    {% set hs = printer['gcode_macro HEAT_SOAK'] %}
    {% if hs.heater_sensor != "None" %}
        {% if printer[hs.heater_sensor].temperature > 50 %}
          SET_FAN_SPEED FAN=filter SPEED=1
            UPDATE_DELAYED_GCODE ID=_aux_fan_shutdown DURATION=30
        {% else %}
            SET_FAN_SPEED FAN=filter SPEED=0
        {% endif %}
    {% endif %}
