[include toolheads.cfg]

##############################
#   TESTING                  #
##############################

[gcode_macro TEST_SPEED]
description: Macro to begin print
gcode:
  CG28
  {% set move_count = 4 %}
  G90
  G0 Z25 F300
  {% for move in range(move_count) %}
    {% for coordinate in [(0, 400),(380, 20)] %}
      G0 X{coordinate[0]} Y{coordinate[1] + 0.25 * move} F36000
    {% endfor %}
  {% endfor %}

[gcode_macro TEST_DOCKING]
gcode:
  {% set toolchange_count = 200 %}
  {% for toolchange in range(toolchange_count) %} 
    T0
    T1
    T2
  {% endfor %}
  T0

##############################
#   PRINTING                 #
##############################
[gcode_macro PRINT_WARMUP]
description: Perform initial heating tasks
gcode:
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP | default(0) | float %}
    {% set BED_TEMP = params.BED_TEMP | default(60) | float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP | default(190) | float %}
    {% set TOOL = params.TOOL | default(0) | int %}

    # Homing, pre-warming print nozzle etc.
    M140 S{BED_TEMP}                    # set bed temperature   

    #Warm hotend
    #{% if EXTRUDER_TEMP * 0.75 > 180 %}
    #  M104 S{EXTRUDER_TEMP * 0.75}       
    #{% else %}
    #  M104 S180
    #{% endif %}
    
    # preheat chamber as necessary
    {% if CHAMBER_TEMP|int > 40 %}
      SET_DISPLAY_TEXT MSG="Chamber heatsoak: 40c"
      HEAT_SOAK HEATER=chamber_heater TARGET=100 SOAKER=chamber SOAK_TEMP=40
    {% elif CHAMBER_TEMP|int > 20 %}
      SET_DISPLAY_TEXT MSG="Chamber heatsoak: {CHAMBER_TEMP}c"
      HEAT_SOAK HEATER=chamber_heater TARGET=100 SOAKER=chamber SOAK_TEMP={CHAMBER_TEMP}  
    {% else %}
      SET_DISPLAY_TEXT MSG="Bed heatsoak: {BED_TEMP}c"
      HEAT_SOAK HEATER=heater_bed TARGET={BED_TEMP} SOAKER=heater_bed SOAK_TEMP={BED_TEMP} 
    {% endif %}

    G90
    G28
    T0
    #T{TOOL}     #Select initial tool

[gcode_macro PRINT_START]
description: Macro to begin print
variable_temp_target: 0
gcode:
  {% set CHAMBER_TEMP = params.CHAMBER_TEMP | default(0) | float %}
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  {% set CURR_BED_TYPE = params.CURR_BED_TYPE|default('Unknown', true)|string %}
  G90    # Use absolute coordinates
  SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=temp_target VALUE={ CHAMBER_TEMP }
  SET_GCODE_OFFSET Z=0.0   # Reset the G-Code Z offset (adjust Z offset if needed)
  SET_FAN_SPEED FAN=filter SPEED=0.5
  SET_FAN_SPEED FAN=Part_Fan SPEED=0
  ENABLE_CHAMBER_TEMP_CONTROL
  CG28   # Home the printer if not previously homed
  T0
  #T{params.TOOL} #Select initial tool
  _TOOL_PARK_ON_PAD # Park tool on nozzle pad
  # Warm extruder
  {% if EXTRUDER_TEMP * 0.75 > 180 %}
      M104 S{EXTRUDER_TEMP * 0.75}
      M109 S{EXTRUDER_TEMP * 0.75}
    {% else %}
      M104 S180
      M109 S180
    {% endif %}
  #SET_FILAMENT_SENSOR SENSOR=material_0 ENABLE=0
  #SET_FILAMENT_SENSOR SENSOR=material_1 ENABLE=0
  # Continue heating bed and wait
  M190 S{BED_TEMP}
  # Wipe nozzle
  _TOOL_WIPE_ON_PAD
  _TOOL_REMOVE_FROM_PAD
  # Calibrate bed
  Z_TILT_ADJUST
  G1 X0 Y184 F3000
  # Park tool on nozzle pad
  _TOOL_PARK_ON_PAD
  # Wipe nozzle
  _TOOL_WIPE_ON_PAD
  _TOOL_REMOVE_FROM_PAD
  # Calibrate Z-offset
  CALIBRATE_Z
  # adjust offset for textured plate
  {% if CURR_BED_TYPE=="Textured PEI Plate" %}
    M117 Bed type is {CURR_BED_TYPE}
    SET_GCODE_OFFSET Z_ADJUST=-0.06 MOVE=1
  {% endif %}
  G1 X0 Y184 F3000
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
  G1 X0 Y184 F3000
  _TOOL_PARK_FRONT_OF_PAD

  
  M109 S{EXTRUDER_TEMP}  
  # Reset tool used status
  SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t0_used VALUE=0
  SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t1_used VALUE=0
  _PRIME_TOOLHEAD TOOL_INDEX={params.TOOL}
  # Ensure bed is at print temperature
  M190 S{BED_TEMP}
  _TOOL_REMOVE_FROM_PAD
  G92 E0
  

    

[gcode_macro PRINT_END]
gcode:
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 Z2 E-10 F300
    # Raise nozzle by 8mm
    G1 Z8 F1500
    G90
    # Cool down bed
    M140 S0
    DISABLE_CHAMBER_TEMP_CONTROL
    # Move tool to back/center of bed
    G1 X200 Y370 F6000
    # Reset tool used status
    SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t0_used VALUE=1
    SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t1_used VALUE=1
    # Select T0
    T0
    # Park tool on nozzle pad
    _TOOL_PARK_ON_PAD
    # Cool down hotend
    M104 S0
    # Cool down all other tools
    {% for tool in [1] %}
      SET_HEATER_TEMPERATURE HEATER=extruder{tool} TARGET=0
    {% endfor %}
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=180
    # Disable steppers
    M84
    # Turn off fan
    M106 S0
    Shutdown_After_Print

[gcode_macro ADDITIONAL_CANCEL_FUNCTIONS]
gcode:
    DISABLE_CHAMBER_TEMP_CONTROL
    # Reset tool used status
    SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t0_used VALUE=1
    SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE=t1_used VALUE=1
    # Select T0
    T0
    # Park tool on nozzle pad
    _TOOL_PARK_ON_PAD

[gcode_macro M600]
gcode:
    PAUSE


##########################
### Chamber Controls   ###
##########################

[gcode_macro TOGGLE_FILTER]
gcode:
    {% if printer['fan_generic filter'].speed > 0 %}
      SET_FAN_SPEED FAN=filter SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=1
    {% endif %}

[delayed_gcode filter_off]
gcode:
  SET_FAN_SPEED FAN=filter SPEED=0

[gcode_macro ENABLE_CHAMBER_TEMP_CONTROL]
gcode:
  UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=20

[gcode_macro DISABLE_CHAMBER_TEMP_CONTROL]
gcode:
  UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=0
  SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
  SET_FAN_SPEED FAN=filter SPEED=0.5
  #add chamber exhaust fan cancel

[delayed_gcode chamber_temp_control]
initial_duration: 0
gcode:
  {% set temp_target = printer["gcode_macro PRINT_START"].temp_target %}
  {% if temp_target <=30 %}
    {action_respond_info("Chamber Temp Control not required")}
    UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=0
  {% elif printer['temperature_sensor chamber'].temperature <= temp_target - 1 %}
    {action_respond_info("Heating Chamber")}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=100
    SET_FAN_SPEED FAN=filter SPEED=1
    UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=300
  {% elif printer['temperature_sensor chamber'].temperature > temp_target + 2 %}
    {action_respond_info("Cooling Chamber")}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    SET_FAN_SPEED FAN=filter SPEED=0.5
    UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=300
  {% else %}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    SET_FAN_SPEED FAN=filter SPEED=0.5
    UPDATE_DELAYED_GCODE ID=chamber_temp_control DURATION=60
  {% endif %}



[gcode_macro lights_off]
gcode:
    SET_PIN PIN=caselight VALUE=0
 
[gcode_macro lights_on]
gcode:
    SET_PIN PIN=caselight VALUE=1
 
[gcode_macro lights_toggle]
gcode:
    {% if (printer["output_pin caselight"].value)|int == 1 %}
        lights_off
    {% else %}
        lights_on
    {% endif %}

# Control auto shutdown after a print finished 
[gcode_macro Shutdown_After_Print]
gcode:
    {% if (printer["output_pin PRINTER_SHUTDOWN_AFTER_PRINT"].value)|int == 1 %}
      UPDATE_DELAYED_GCODE ID=PRINTER_SHUTDOWN_PREPARE DURATION=180 ; after 180 seconds, check the nozzle temperature and shutdown the printer if its low enough
    {% endif %}

# Steps to complete prior to shutdown
[delayed_gcode PRINTER_SHUTDOWN_PREPARE]
gcode:
  {action_respond_info("Printer evaluating shutdown parameters")}
  UPDATE_DELAYED_GCODE ID=PRINTER_SHUTDOWN DURATION=1

# Shutdown printer 
[delayed_gcode PRINTER_SHUTDOWN]
gcode:
  {% if (printer.idle_timeout.state == 'Printing') %}
    {action_respond_info("Auto shutdown stopped. Printing is active. No retry.")}
  {% elif (printer['extruder']['temperature'] | int > 50) %}
    {action_respond_info("Auto shutdown stopped because T0 is above 50 C. Retry in 60 seconds.")}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    UPDATE_DELAYED_GCODE ID=PRINTER_SHUTDOWN DURATION=60
  {% else %}
    {% for i in [1] %}
      {% set extruder_name = 'extruder' + i|string %}
      {% set tool_name = 'T' + i|string %}
      {% set current_temp = printer[extruder_name].temperature %}
      {% if (current_temp | int > 50) %}
        {action_respond_info("Auto shutdown stopped because " + tool_name + " is above 50 C. Retry in 60 seconds.")}
        SET_HEATER_TEMPERATURE HEATER=extruder{i} TARGET=0
        UPDATE_DELAYED_GCODE ID=PRINTER_SHUTDOWN DURATION=60
      {% else %} 
        SET_PIN PIN=24V_Power_Supply VALUE=0.00
        {action_respond_info("Auto shutdown complete.")}
      {% endif %}
    {% endfor %}
  {% endif %}

##############################
#   M-Code                   #
##############################

[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = "" %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE{newparameters}
  {% else %}
    M104.1 {rawparams}
  {% endif %}

[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait to within 5 degrees.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% set newparameters = "" %}
  {% set tool = printer[printer.toolchanger.tool] %}
  {% if params.T is defined %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
      SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
    {% else %}
      {action_respond_info("M109 requires temperature to be set")}
    {% endif %}
  {% else %}
    {% if tool is defined %}
      {% set tool_num = tool.tool_number|string %}
      {% set newparameters = newparameters ~ " T="~tool_num %}
      {% if params.S is defined %}
        {% set newparameters = newparameters ~ " TARGET="~params.S %}
        SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
      {% else %}
        {action_respond_info("M109 requires temperature to be set")}
      {% endif %}
    {% else %}
      {action_respond_info("Toolhead not initialized")}
    {% endif %}
  {% endif %}

[gcode_macro M190]
description: wait for bed temp and resume immediately (no stabalization)
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

##############################
#   Conditionals             #
##############################

[gcode_macro CG28]
description: conditional homing
gcode:
      {% if printer.toolhead.homed_axes != "xyz" %}
        G28 # Home if not already homed
      {% endif %}

##############################
#   Toolhead                 #
##############################


## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : -10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 370.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 4.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 10.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "ADDITIONAL_CANCEL_FUNCTIONS" ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


  