[include mainsail.cfg]
[include toolheads.cfg]
[include homing_mesh.cfg]
[include klicky-variables.cfg]                
[include klicky-macros.cfg] 
[include macros.cfg] 
[include print_area_bed_mesh.cfg]
[include heat_soak.cfg]
[include moonraker_obico_macros.cfg]

[exclude_object]

[mcu] # left Octo w/motion steppers
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_160007000750534E4E313120-if00

[mcu octo2] # right Octo w/4 extruders
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_210017001650535556323420-if00

########################################
# FYSETC Nozzle Input Shaper
########################################

#[mcu NIS]
# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
#serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_080031000843565036343620-if00

#[adxl345]
#cs_pin: NIS:PA4
#spi_software_sclk_pin: NIS:PA5
#spi_software_mosi_pin: NIS:PA7
#spi_software_miso_pin: NIS:PA6

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    200,200,20 # an example - set this to the centre of your BED.

########################################
# MEDUSA Config
########################################

[printer]
# Enable low-level configuration options, 32KiB bootloader and 12MHz crystal
kinematics: cartesian
max_velocity: 600
max_accel: 3900
max_z_velocity: 10
max_z_accel: 200

[input_shaper]  # Default shaper params
  shaper_freq_x: 73.2
  shaper_type_x: 3hump_ei
  shaper_freq_y: 86.8
  shaper_type_y: 3hump_ei

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400 #0.9 degree stepper
endstop_pin: PG6
position_endstop: 400
position_max: 400
position_min: -25
homing_speed: 80
homing_retract_dist: 5.0

[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9
position_endstop: 0
position_max: 462
position_min: 0
homing_speed: 80
homing_retract_dist: 5.0

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 2
endstop_pin: PG10
position_endstop: 0.433
position_max: 400
position_min: -3.5
homing_retract_dist: 5.0

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 2

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: NTC 100K MGB18-104F39050L32 #ATC Semitec 104GT-2
control = pid
pid_kp = 68.223
pid_ki = 1.812
pid_kd = 642.149
min_temp: 0
max_temp: 120
max_power: 0.8

[verify_heater heater_bed]
check_gain_time: 90

######################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: octo2:PA1
sensor_type: Generic 3950
sensor_pin: PF7
control = pid
pid_kp = 15.031
pid_ki = 0.473
pid_kd = 119.498
min_temp: 0
max_temp: 110
max_power: 0.8

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 360
hysteresis: 1
heating_gain: 1

[heater_fan chamber_heater_fan]
pin: PD13
max_power: 1.0
heater: chamber_heater
heater_temp: 35.0

#############################
### Enclosure Temperature ###
#############################

[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4
min_temp: 0
max_temp: 80

##########################
### Chamber Filter ###
##########################

[fan_generic filter]
pin: PD14

##########################
### 24V Power Control  ###
##########################

[output_pin 24V_Power_Supply]
pin: PE11
value: 1
shutdown_value: 0

[output_pin PRINTER_SHUTDOWN_AFTER_PRINT]
pin: PB7
value: 1
shutdown_value: 0

##########################
### Chamber Light  ###
##########################

[output_pin caselight]
pin: PB10
value: 1
shutdown_value: 0



[virtual_sdcard]
path: /home/bcstevens/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[servo klicky_servo]
#pin: PC12
#   PWM output pin controlling the servo. This parameter must be
#   provided.
#maximum_servo_angle: 180
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
#minimum_pulse_width: 0.00025
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
#maximum_pulse_width: 0.0024
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 0.950
##diag_pin: PG6
#stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PD11
run_current: 1.1
#diag_pin: PG9
#stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.500
##diag_pin: PG10
#stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC7
run_current: 0.500
##diag_pin: PG11
#stealthchop_threshold: 999999



[probe]
pin: PG11
x_offset: -25.0
y_offset: -37.0
z_offset: 8.28 # was 7.95
speed: 5.0
samples: 2
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 1

########################################
# PINS
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[neopixel my_neopixel]
#pin: PB0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor MCU_1]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor MCU_2]
sensor_type: temperature_mcu
sensor_mcu: octo2 # Matches the [mcu EBB36] section name
min_temp: 0
max_temp: 100





