######################
#  GLOBAL            #
######################

#Part Cooling Fan
[fan_generic Part_Fan]
pin: PA8

[toolchanger]
  t_command_restore_axis: XYZ
  params_safe_y: 378
  params_umbilical_y: 300
  params_close_y: 445
  params_pad_x_offset: -10.6 # pad offset from x park position
  params_pad_y_offset: 78 # pad offset from y park position
  params_purge_x_offset: -1 # purge location offset from x park position
  params_purge_y_offset: 60 # purge location offset from y park position
  params_fast_speed: 25000 # mm/min for position prep
  params_path_speed: 2000 # mm/min for the tool change should be 5000
  # Path positions relative to the park position
  # use x,y,z; f= multiplier to path speed; verify= Verify tool detected at end of the move.
  params_dropoff_path: [{'x':-10.6, 'y':60}, {'x':-10.6, 'y':78}, {'x':2, 'y':78}, {'x':0, 'y':78}, {'x':0, 'y':60, 'verify':0, 'f':2}]
  params_pickup_path:  [{'x':0, 'y':60}, {'x':0, 'y':78}, {'x':-13.6, 'y':78}, {'x':-10.6, 'y':78}, {'x':-10.6, 'y':60, 'verify':1}, {'x':-10.6, 'y':0, 'f':2}]
  # Nozzle scrub path positions relative to the pad position
  params_wipe_path: [{'x':0, 'y':0}, {'x':0, 'y':-6}, {'x':-3, 'y':-6}, {'x':3, 'y':-6}, {'x':0, 'y':-6}, {'x':0, 'y':-8}, {'x':0, 'y':0} ]
  initialize_on: home
  require_tool_present: True

  error_gcode:
    PAUSE

  before_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="''"
    {% endif %}

  after_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
    {% endif %}
    {% if tool.params_input_shaper_freq_x %}
      SET_INPUT_SHAPER SHAPER_FREQ_X={tool.params_input_shaper_freq_x} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y}
    {% endif %}

  dropoff_gcode:
    {% set x = tool.params_park_x|float %}
    {% set y = tool.params_park_y|float %}
    {% set fast = tool.params_fast_speed|float %}
    {% set path = tool.params_dropoff_path %}
    G90
    RESPOND TYPE=echo MSG='Dropping off {tool.name}'
    #   ##############  Allign Umbilical  ##############
    TOOL_ALIGN_UMBILICAL
    #   ##############  Move up to the dock  ##############
    G0 X{x} Y{tool.params_safe_y} F{fast}
    G0 X{x + path[0]['x']|float} Y{y + path[0]['y']|float} F{fast}
    #  ############## Run the path ##############
    {% for pos in path %}
      {% set speed = tool.params_path_speed|float * (pos.get('f', 1.0)|float) %}
      G0 {% if 'x' in pos %}X{x + pos['x']|float}{% endif %} {% if 'y' in pos %}Y{y + pos['y']|float}{% endif %} {% if 'z' in pos %}Z{z + pos['z']|float }{% endif %} F{speed}
    {% endfor %}

  pickup_gcode:
    {% set x = tool.params_park_x|float %}
    {% set y = tool.params_park_y|float %}
    {% set fast = tool.params_fast_speed|float %}
    {% set path = tool.params_pickup_path %}
    RESPOND TYPE=echo MSG='Picking up {tool.name}'
    G90
    #   ##############  Fast to the last point  ##############
    G0 X{x} Y{y} F{fast}
    G0 X{x + path[0]['x']|float} Y{y + path[0]['y']|float} F{fast}
    # Wait for temp before actually picking up the tool, while the nozzle is resting on it's pad.
    {% if tool.extruder %}
      M109 T{tool.tool_number} S{printer[tool.extruder].target|int}
    {% endif %}
    # Run the path
    {% for pos in path %}
      {% set speed = tool.params_path_speed|float * (pos.get('f', 1.0)|float) %}
      G0 {% if 'x' in pos %}X{x + pos['x']|float}{% endif %} {% if 'y' in pos %}Y{y + pos['y']|float}{% endif %} {% if 'z' in pos %}Z{z + pos['z']|float }{% endif %} F{speed}
      {% if 'verify' in pos %}
        VERIFY_TOOL_DETECTED T={tool.tool_number}
      {% endif %}
    {% endfor %}
    # Prime Toolhead if printing
    {% if printer.print_stats.state == "printing" %}
      _PRIME_TOOLHEAD TOOL_INDEX={tool.tool_number}
    {% endif %}
    # Restore the position.
    G0 Y{tool.params_safe_y} F{fast}
    {% if printer.print_stats.state != "printing" %}
      {% if restore_position.Y > tool.params_safe_y %}
        G0 X{restore_position.X} F{fast}
        G0 Y{restore_position.Y} F{fast}
      {% else %}
        G0 X{restore_position.X} Y{restore_position.Y} F{fast}
      {% endif %}
      G0 Z{restore_position.Z} F{fast}
    {% endif %}

[gcode_macro _TOOL_STATUS]
variable_t0_used: 1
variable_t1_used: 1
variable_t2_used: 1
# Add more variables for more toolheads (t2, t3, etc.)
gcode:

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  INITIALIZE_TOOLCHANGER
  VERIFY_TOOL_DETECTED
  RESUME_BASE

[gcode_macro TOOL_ALIGN_START]
gcode:
    INITIALIZE_TOOLCHANGER # Detect current tool
    _TOOL_ALIGN_START

[gcode_macro _TOOL_ALIGN_START]
gcode:
    {% set tool = printer[printer.toolchanger.tool] %}
    SET_TOOL_PARAMETER PARAMETER='params_path_speed' VALUE=300
    SET_GCODE_OFFSET X=0 Y=0 Z=0
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{tool.params_park_x} Z{tool.params_park_z}
    G0 Y{tool.params_park_y|float + 100.0}

[gcode_macro TOOL_ALIGN_TEST]
gcode:
    {% set curpos = printer.gcode_move.gcode_position %}
    {% if curpos[1] > 0 %}
      # Check if Y is not too far, to very unrealistic tests.
      RESPOND TYPE=error MSG='Test aborted. Tool too far away from the dock.'
    {% else %}
      INITIALIZE_TOOLCHANGER # Detect current tool
      SET_GCODE_OFFSET X=0 Y=0 Z=0
      SET_TOOL_PARAMETER PARAMETER='params_park_x' VALUE={curpos[0]}
      SET_TOOL_PARAMETER PARAMETER='params_park_y' VALUE={curpos[1]}
      SET_TOOL_PARAMETER PARAMETER='params_park_z' VALUE={curpos[2]}
      TEST_TOOL_DOCKING RESTORE_AXIS=XYZ
    {% endif %}

[gcode_macro TOOL_ALIGN_DONE]
gcode:
    {% set tool = printer[printer.toolchanger.tool] %}
    SAVE_TOOL_PARAMETER PARAMETER='params_park_x'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_y'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_z'
    RESET_TOOL_PARAMETER PARAMETER='params_path_speed'
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}

[gcode_macro TOOL_ALIGN_UMBILICAL]
gcode:
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    {% set cur_y = printer.toolhead.position.y|float %}
    {% set umbilical_y = tool.params_umbilical_y|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set cur_z = printer.toolhead.position.z|float %}
    RESPOND TYPE=echo MSG='Aligning Umbilical for {tool.name}'
    G90
    # Move 5 mm up to avoid crashing into things
    G0 Z{ [cur_z+5.0, max_z]|min } F{tool.params_fast_speed}
    {% if cur_y > umbilical_y %}
      G0 Y{tool.params_umbilical_y} F{tool.params_fast_speed}
    {% endif %}
    G0 X{pad_x} F{tool.params_fast_speed}    

[gcode_macro _TOOL_PARK_ON_PAD]
gcode:
    #INITIALIZE_TOOLCHANGER # Detect current tool
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    {% set pad_y = tool.params_park_y|float + tool.params_pad_y_offset|float %}
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{pad_x} F{tool.params_fast_speed}
    G0 Y{pad_y} F{tool.params_fast_speed}

[gcode_macro _TOOL_PARK_FRONT_OF_DOCK]
gcode:
    #INITIALIZE_TOOLCHANGER # Detect current tool
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    {% set purge_y = tool.params_park_y|float + tool.params_purge_y_offset|float %}
    TOOL_ALIGN_UMBILICAL
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{pad_x} F{tool.params_fast_speed}
    #G0 Y{purge_y} F{tool.params_fast_speed}

[gcode_macro _TOOL_PARK_ON_PURGE]
gcode:
    #INITIALIZE_TOOLCHANGER # Detect current tool
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set purge_x = tool.params_park_x|float + tool.params_purge_x_offset|float %}
    {% set purge_y = tool.params_park_y|float + tool.params_purge_y_offset|float %}
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{purge_x} F{tool.params_fast_speed}
    G0 Y{purge_y} F{tool.params_fast_speed}

[gcode_macro _TOOL_PURGE_DROP]
gcode:
    #INITIALIZE_TOOLCHANGER # Detect current tool
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    G0 X{pad_x} F{tool.params_path_speed}

[gcode_macro _TOOL_REMOVE_FROM_PAD]
gcode:
    #INITIALIZE_TOOLCHANGER # Detect current tool
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    #{% set pad_y = tool.params_park_y|float + tool.params_pad_y_offset|float %}
    {% set purge_y = tool.params_park_y|float + tool.params_purge_y_offset|float %}
    G0 X{pad_x} Y{purge_y} F{tool.params_path_speed}
    #G0 Y{purge_y}
    G0 X{tool.params_park_x} Y{tool.params_safe_y}  F{tool.params_fast_speed}

[gcode_macro _TOOL_WIPE_ON_PAD]
gcode:
    {% set tool = printer[printer.toolchanger.tool] %}
    {% set path = tool.params_wipe_path %}
    {% set speed = tool.params_path_speed %}
    {% set wipe_count = 4 %}
    {% set pad_x = tool.params_park_x|float + tool.params_pad_x_offset|float %}
    {% set pad_y = tool.params_park_y|float + tool.params_pad_y_offset|float %}
    {% set purge_y = tool.params_park_y|float + tool.params_purge_y_offset|float %}
    # Position to infront of pad
    G0 X{pad_x} Y{purge_y}
    # Turn on fan
    M106 S255
    G4 P4000
    {% for wipe in range(wipe_count) %} 
      {% for pos in path %}
        G0 {% if 'x' in pos %}X{pad_x + pos['x']|float}{% endif %} {% if 'y' in pos %}Y{pad_y + pos['y']|float}{% endif %} {% if 'z' in pos %}Z{pad_z + pos['z']|float }{% endif %} F{speed}
      {% endfor %}
    {% endfor %}
    G0 X{pad_x - 2} Y{pad_y}
    G0 X{pad_x}
    G0 Y{purge_y}
    # Turn off fan
    M107
  
[gcode_macro _PRIME_TOOLHEAD]
gcode:
    {% if params.TOOL_INDEX|int == 0 %}
      {% set tool_used_var = "t0_used" %}
      {% set extruder_name = "extruder" %}
    {% elif params.TOOL_INDEX|int == 1 %}
      {% set tool_used_var = "t1_used" %}
      {% set extruder_name = "extruder1" %}
    {% elif params.TOOL_INDEX|int == 2 %}
      {% set tool_used_var = "t2_used" %}
      {% set extruder_name = "extruder2" %}
    # Add elif blocks for other tools
    {% endif %}

    # Check if the tool has already been used in this print
    {% if printer["gcode_macro _TOOL_STATUS"][tool_used_var]|int == 0 %}
        RESPOND MSG="Priming {extruder_name} for first use."
        # --- Priming G-code ---
        _TOOL_PARK_ON_PURGE
        G92 E0
        M83 ; use relative distances for extrusion
        G1 E25 F1000
        G1 E-0.5 F3000
        M106 S255
        G4 P4000
        _TOOL_PURGE_DROP
        G4 P1000
        _TOOL_WIPE_ON_PAD
        G1 E0.5 F3000
        G92 E0
        _TOOL_REMOVE_FROM_PAD
        # Set the status variable to 1 (used)
        SET_GCODE_VARIABLE MACRO=_TOOL_STATUS VARIABLE={tool_used_var} VALUE=1
    {% endif %}


[tools_calibrate]
pin: ^!PE12
travel_speed: 1.5  # mms to travel sideways for XY probing
spread: 6.8  # mms to travel laterally from center of probe  
lower_z: 0.4  # mms to travel down from top for XY probing was 0.5
speed: 2  # The speed (in mm/sec) to move tools down onto the probe
lift_speed: 4  # The speed (in mm/sec) to retract between probes
final_lift_z: 10 # Z Lift after probing done, should be greater than any Z variance between tools
sample_retract_dist:1
samples_tolerance:0.05
samples:5
samples_result: median # median, average
# Settings for nozzle probe calibration - optional.

probe: probe # name of the nozzle probe to use
trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.


[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    BED_MESH_CLEAR
    G0 X-14.3 Y185 F10000  # UPDATE THIS WITH YOUR POSITION
    G0 Z10 F10000 # UPDATE THIS WITH YOUR POSITION
    

[gcode_macro CALIBRATE_TOOL_OFFSETS]
gcode:
    T0
    CALIBRATE_MOVE_OVER_PROBE
    M109 S120  # Heat up as much as possible without oozing to account for any thermal deformations
    TOOL_LOCATE_SENSOR
    M104 S0
    # Other tools
    {% for tool in [1,2] %} #add additional tool numbers
        T{tool}
        M109 S120
        TOOL_CALIBRATE_TOOL_OFFSET
        M104 S0
    {% endfor %}

[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    CALIBRATE_MOVE_OVER_PROBE
    M109 S120    
    TOOL_LOCATE_SENSOR
    TOOL_CALIBRATE_PROBE_OFFSET
    M104 S0

######################
#  T0                #
######################

[extruder]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 6.730487
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 125.0
pressure_advance: 0.0
pressure_advance_smooth_time: 0.040
heater_pin: PA2 
sensor_pin:  PF5 
sensor_type: EPCOS 100K B57560G104F
control: pid
#PLA 220
pid_Kp: 29.317
pid_Ki: 3.204
pid_Kd: 67.063
#ASA 270
#pid_Kp: 40.466
#pid_Ki: 6.274
#pid_Kd: 65.251
min_temp: 0
max_temp: 320
min_extrude_temp: 180

[tmc2209 extruder]
uart_pin: PE4
run_current: 0.4
hold_current: 0.1
driver_TPOWERDOWN: 20

[filament_motion_sensor material_0]
detection_length: 8.0
extruder: extruder
switch_pin: ^PG12
pause_on_runout: False
runout_gcode: 
  {action_respond_info("T0 filament sensor triggered.  Print paused.")}
  PAUSE
#insert_gcode:


[heater_fan T0_hotend_fan]
pin: PE5
heater: extruder
heater_temp: 50.0

[gcode_macro T0]
variable_color: ""
gcode:
  {% if 'S' in params %}
    {% set target_temp = params.S|float %}
    M104 S{target_temp} T0
    #M109 S{target_temp}
  {% endif %}
  SELECT_TOOL T=0

[tool T0]
tool_number: 0
extruder: extruder
detection_pin: !PG13
fan: Part_Fan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
# Position with the toolhead aligned with the dock
params_park_x: -2.8
params_park_y: 377
params_park_z: 45

######################
#  T1                #
######################

[extruder1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 16
rotation_distance: 6.730487
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 125.0
pressure_advance: 0.0
pressure_advance_smooth_time: 0.040
heater_pin: PA3 
sensor_pin:  PF6 
sensor_type: EPCOS 100K B57560G104F
control: pid
#PLA 220
pid_Kp: 29.317
pid_Ki: 3.204
pid_Kd: 67.063
#ASA 270
#pid_Kp: 40.466
#pid_Ki: 6.274
#pid_Kd: 65.251
min_temp: 0
max_temp: 320
min_extrude_temp: 180

[tmc2209 extruder1]
uart_pin: PE1
run_current: 0.45
hold_current: 0.1
driver_TPOWERDOWN: 20

[filament_motion_sensor material_1]
detection_length: 8.0
extruder: extruder1
switch_pin: ^PG14
pause_on_runout: False
runout_gcode: 
  {action_respond_info("T1 filament sensor triggered.  Print paused.")}
  PAUSE
#insert_gcode:

[heater_fan T1_hotend_fan]
pin: PD12
heater: extruder1
heater_temp: 50.0

[gcode_macro T1]
variable_color: ""
gcode:
  {% if 'S' in params %}
    {% set target_temp = params.S|float %}
    M104 S{target_temp} T1
    #M109 S{target_temp}
  {% endif %}
  SELECT_TOOL T=1

[tool T1]
tool_number: 1
extruder: extruder1
detection_pin: !PG15
fan: Part_Fan
gcode_x_offset: -0.1
gcode_y_offset: 0.1
gcode_z_offset: -0.075
# Position with the toolhead aligned with the dock
params_park_x: 77.7
params_park_y: 377
params_park_z: 45

######################
#  T2                #
######################

[extruder2]
step_pin: octo2:PF13
dir_pin: octo2:PF12
enable_pin: !octo2:PF14
microsteps: 16
rotation_distance: 6.730487
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 125.0
pressure_advance: 0.0
pressure_advance_smooth_time: 0.040
heater_pin: octo2:PA2 
sensor_pin: octo2:PF3 
sensor_type: EPCOS 100K B57560G104F
control: pid
#PLA 220
pid_Kp: 29.317
pid_Ki: 3.204
pid_Kd: 67.063
#ASA 270
#pid_Kp: 40.466
#pid_Ki: 6.274
#pid_Kd: 65.251
min_temp: 0
max_temp: 320
min_extrude_temp: 180

[tmc2209 extruder2]
uart_pin: octo2:PC4
run_current: 0.45
hold_current: 0.1
driver_TPOWERDOWN: 20

[filament_motion_sensor material_2]
detection_length: 8.0
extruder: extruder2
switch_pin: ^octo2:PG12
pause_on_runout: False
runout_gcode: 
  {action_respond_info("T2 filament sensor triggered.  Print paused.")}
  PAUSE
#insert_gcode:

[heater_fan T2_hotend_fan]
pin: octo2:PA8
heater: extruder2
heater_temp: 50.0

[gcode_macro T2]
variable_color: ""
gcode:
  {% if 'S' in params %}
    {% set target_temp = params.S|float %}
    M104 S{target_temp} T2
    #M109 S{target_temp}
  {% endif %}
  SELECT_TOOL T=2

[tool T2]
tool_number: 2
extruder: extruder2
detection_pin: !octo2:PG13
fan: Part_Fan
gcode_x_offset: -0.3 
gcode_y_offset: -1.8
gcode_z_offset: 0.127
# Position with the toolhead aligned with the dock
params_park_x: 154.5
params_park_y: 377
params_park_z: 45
